@page "/counter"

<PageTitle>Countdown</PageTitle>

@if(time >= TimeSpan.Zero){
    <h2>Time till launch: <b>@time.Days : @time.Hours : @time.Minutes : @time.Seconds</b></h2>
}
else
{
    <h2>CanSat has launched!!</h2>
}
@code {
    private DateTime launchday = new DateTime(2022,04,28,12,00,00);
    private TimeSpan time;
    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        var timer = new System.Threading.Timer((_) =>
        {
            InvokeAsync( async ()  =>
            {
               CalculateTime();
               StateHasChanged();
            });
        }, null, 0, 1000);
    }
    private void CalculateTime()
    {
        time = launchday - DateTime.Now;
    }
}
