@page "/"

<PageTitle>Phoenix CanSat</PageTitle>

<h1>Who are we?</h1>


We are a team composed of 8 students of the Model High School “<A href="http://lyk-evsch-n-smyrn.att.sch.gr/wordpress/?p=1322" target="_blank">Evangeliki Scholi Smyrna</A>”.
For the fifth consecutive time we are participating in the Panhellenic competition "<a href="https://cansat.gr/" target="_blank">CanSat in Greece</a>"
, a qualifier of the Pan-European competition "<a href="https://www.esa.int/SPECIALS/CanSat/SEMXTDCKP6G_0.html" target="_blank">CanSats in Europe</a>", organized by ESA (European Space Agency) for the last 8 years. Our team is called Phoenix and our supervisor is Dr. Christos Fanidis.
